
<center id="indexPage" class="align-middle">
  <h1 style="font-family: 'Limelight', cursive;" class="text-primary">Pokemon Crush</h1>
  <div>
    <input id="gameName" placeholder="Enter game name" />
    <button id="gameJoinBtn" class="btn btn-primary">Join Now</button>
  </div>
</center>
